@mixin cdr-doc-long-form-text {
  & > pre {
    font-size: 1.4rem;
  }

  & > a {
    color: $cdr-doc-link-color-primary;
    text-decoration: none;
    
    &:hover,
    &:active,
    &:focus {
      color: $cdr-doc-link-color-primary;
      text-decoration: underline;
    }
  }
  
  & > img {
    display: block;
    max-width: 100%;
    margin-bottom: $cdr-space-two-x;
    margin-top: $cdr-space-one-x;
    margin-left: auto;
    margin-right: auto;
  }

  & > h2,
  & > div > h2 {
    // @include cdr-text-header-4;
    @include cdr-text-heading-600; // Section heading
    margin-bottom: $cdr-space-one-x;
    margin-top: $cdr-space-two-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    &:first-child {
      margin-top: 0;
    }
  }

  & > h3,
  & > div > h3 {
    // @include cdr-text-header-5;
    @include cdr-text-heading-500; // subSection heading
    margin-bottom: $cdr-space-one-x;
    margin-top: $cdr-space-two-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    &:first-child {
      margin-top: 0;
    }
  }

  & > h4 {
    // @include cdr-text-header-6;
    @include cdr-text-heading-400; // subsubSection heading
    margin-bottom: $cdr-space-one-x;
    margin-top: $cdr-space-two-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    &:first-child {
      margin-top: 0;
    }
  }

  & > h5 {
    // @include cdr-text-header-7;
    @include cdr-text-heading-300; // custom sub-subsubSection heading // one increment down
    margin-bottom: $cdr-space-one-x;
    margin-top: $cdr-space-two-x;
    max-width: $cdr-doc-long-form-text-max-line-length;
  }

  & > p {
    @include redwood-display-30; // default
    margin-bottom: $cdr-space-half-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    + p {
      margin-top: $cdr-space-two-x;
    }
  }

  & > div[class^='language-'] {
    margin-bottom: $cdr-space-two-x;
  }

  // List resets
  & > ul,
  & > ol {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* spacing
      ---------- */
    & li + li {
      margin-top: 8px;
    }

    /* nesting
      ---------- */
    & li > ul,
    & li > ol {
      margin-top: 8px;
      padding-left: 16px;
      list-style-type: none;
    }
  }

  // unordered
  & > ul {
    position: relative;
    padding-left: $unordered-list-indentation-space;

    & > li::before {
      content: "\2022";
      position: absolute;
      left: 0;
    }

    /* nesting
      ---------- */
    & li > ul,
    & li > ol {
      position: relative;
      padding-left: $nested-list-indentation-space;

      & > li {
        &::before {
          content: "\2013";
          position: absolute;
          left: 0;
        }
      }
    }
  }

  // ordered
  & > ol {
    list-style-type: decimal;
    padding-left: $ordered-list-indentation-space;
    
    & li {
      padding-left: $cdr-space-quarter-x;

      /* nesting
      ---------- */
      & > ol,
      & > ul {
        position: relative;
        padding-left: $nested-list-indentation-space;

        & > li {
          padding-left: $list-item-indentation-space;

          &::before {
            content: "\2013";
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  & > hr {
    border: 0;
    border-top: $cdr-doc-border-separator;
    margin-bottom: $cdr-space-two-x;
    margin-top: $cdr-space-two-x;    
  }

  & > a,
  & > p a,
  & > ul li a,
  & > ol li a {
    color: $cdr-doc-link-color-primary;
    text-decoration: underline;
  }


  & > p,
  & > ol li,
  & > ul li,
  & > ul li p,
  & > table tbody tr td
   {
    & > code {
      background: $cdr-doc-color-white;
      border: $cdr-doc-border-separator;
      border-radius: $cdr-doc-border-radius-default;
      color: $cdr-doc-text-color-code;
      font-family: $cdr-doc-font-family-mono;
      font-size: 14px;
      padding: 0 $cdr-space-half-x;
      white-space: nowrap;
    }
  }

  & > table {
    margin-top: 16px;
    margin-bottom: 16px;

    & > thead > tr {
      background-color: white
    }

    & > tbody > tr:nth-child(even) {
      background-color: white
    }
    
    & > tbody > tr:nth-child(odd) {
      background-color: #f2f2f2
    }
  }
}
