@import '~@rei/cdr-tokens/dist/scss/cdr-tokens.scss';
@import '~@rei/cdr-component-variables/dist/scss/index.scss';

/* Temporary element styles */
$unordered-list-indentation-space: 1em;
$nested-list-indentation-space: 1em;
$ordered-list-indentation-space: 1.5em;
$list-item-indentation-space: 0;
