$cdr-doc-text-color-primary: #2E2E2E; // Copied from InVision comp
$cdr-doc-text-color-secondary: $taken-for-granite;

$cdr-doc-link-color-primary: #426C90; // Copied from InVision comp

$cdr-doc-background-color-main-body: $moon-shot;
$cdr-doc-background-color-default: $clean-slate;

$cdr-doc-border-separator: solid 1px $partly-cloudy;
$cdr-doc-border-radius-default: 4px;

$cdr-doc-content-max-width: 900px;
