@mixin cdr-doc-long-form-text {
  & > a {
    color: $cdr-doc-link-color-primary;
    text-decoration: none;
    
    &:hover,
    &:active,
    &:focus {
      color: $cdr-doc-link-color-primary;
      text-decoration: underline;
    }
  }
  
  & > img {
    max-width: 100%;
    margin-bottom: $space-2-x;
    margin-top: $space-1-x;
  }

  & > h2 {
    @include spruce-display-50;
    margin-bottom: $space-1-x;
    margin-top: $space-2-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    &:first-child {
      margin-top: 0;
    }
  }

  & > h3 {
    @include spruce-display-40;
    margin-bottom: $space-1-x;
    margin-top: $space-2-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    &:first-child {
      margin-top: 0;
    }
  }

  & > h4 {
    @include spruce-display-30;
    margin-bottom: $space-1-x;
    margin-top: $space-2-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    &:first-child {
      margin-top: 0;
    }
  }

  & > p {
    @include redwood-display-30;
    margin-bottom: $space-half-x;
    max-width: $cdr-doc-long-form-text-max-line-length;

    + p {
      margin-top: $space-2-x;
    }
  }

  & > div[class^='language-'] {
    margin-bottom: $space-2-x;
  }

  // List resets
  & > ul,
  & > ol {
    list-style-type: none;
    padding: 0;

    /* spacing
      ---------- */
    & > li + li {
      margin-top: 8px;
    }

    /* nesting
      ---------- */
    & li > ul,
    & li > ol {
      margin-top: 8px;
      padding-left: 16px;
      list-style-type: none;
    }
  }

  // unordered
  & > ul {
    position: relative;
    padding-left: $unordered-list-indentation-space;

    & > li::before {
      content: "\2022";
      position: absolute;
      left: 0;
    }

    /* nesting
      ---------- */
    & li > ul,
    & li > ol {
      position: relative;
      padding-left: $nested-list-indentation-space;

      & > li {
        &::before {
          content: "\2013";
          position: absolute;
          left: 0;
        }
      }
    }
  }

  // ordered
  & > ol {
    list-style-type: decimal;
    padding-left: $ordered-list-indentation-space;
    
    & li {
      padding-left: $space-quarter-x;

      /* nesting
      ---------- */
      & > ol,
      & > ul {
        position: relative;
        padding-left: $nested-list-indentation-space;

        & > li {
          padding-left: $list-item-indentation-space;

          &::before {
            content: "\2013";
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  & > hr {
    border: 0;
    border-top: $cdr-doc-border-separator;
    margin-bottom: $space-2-x;
    margin-top: $space-2-x;    
  }

  & > a,
  & > p a,
  & > ul li a,
  & > ol li a {
    color: $cdr-doc-link-color-primary;
    text-decoration: underline;
  }


  & > p,
  & > ol li,
  & > ul li {
    & > code {
      background: $cdr-doc-color-white;
      border: $cdr-doc-border-separator;
      border-radius: $cdr-doc-border-radius-default;
      color: $cdr-doc-text-color-code;
      font-family: $cdr-doc-font-family-mono;
      font-size: 14px;
      padding: 0 $space-half-x;
      white-space: nowrap;
    }
  }
}
