$cdr-doc-color-white: $clean-slate;

$cdr-doc-text-color-primary: $text-color-primary-on-light;
$cdr-doc-text-color-secondary: $taken-for-granite;
$cdr-doc-text-color-code: $quick-fixe;

$cdr-doc-link-color-primary: $easily-excited;

$cdr-doc-background-color-main-body: $moon-shot;
$cdr-doc-background-color-default: $clean-slate;

$cdr-doc-border-separator: solid 1px $partly-cloudy;
$cdr-doc-border-radius-default: 4px;

$cdr-doc-content-max-width: 900px;
$cdr-doc-long-form-text-max-line-length: 630px;
$cdr-doc-long-form-text-top-and-bottom-inset-space: 48px; // not a token?

$cdr-doc-font-family-mono: 'Roboto Mono', monospace;

