// GRID
// Update frontmatter sandboxData styleTag in components/grid if changing this.
.grid-example-wrap {
  width: 100%;

  [class^="cdr-row"] {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 1.6rem;
      left: 1.6rem;
      height: 100%;
      width: 100%;
      background-color: rgba(130, 234, 255, 0.1);

      @media (max-width: $cdr-breakpoint-md) {
        top: 0.8rem;
        left: 0.8rem;
      }
    }
  }

  [class*="cdr-row--gutter-xxs"]::before {
    top: .2rem;
    left: .2rem;
  }

  [class*="cdr-row--gutter-none"]::before {
    top: 0;
    left: 0;
  }

  [class^="cdr-col__content"] {
    background-color: rgba(130, 234, 255, 0.35);
    color: rgba(60, 120, 174, 1.0);
    text-align: center;
  }
}

.form-space {
  margin-top: $cdr-space-two-x;
}

.grid-2-example div { border: 1px solid lightblue;}


.responsive-grid-example {
  grid-template-columns: '1fr 1fr 1fr';
  @include cdr-md-mq-down {
    grid-template-columns: '1fr';
  }
}
.orphan-grid-example-2x2 div:last-child:nth-child(2n + 1) {
  grid-column: 1 / span 2;
}

/* Make grid items take up twice as much space */
.orphan-grid-example-3x3 div { grid-column: span 2;}

/* If 2 items are leftover, center them by moving the second to last element to the right by 1 */
.orphan-grid-example-3x3 div:nth-last-child(2):nth-child(3n + 1) {
  grid-column: 2 / span 2;
}

/* If 1 item is leftover, center it by moving it to the right by 2 */
.orphan-grid-example-3x3 div:last-child:nth-child(3n + 1) {
  grid-column: 3 / span 2;
}

// Radio
// Update radio example styleTag in components/radios if changing this.

.custom-radio-example,
.custom-checkbox-example {
  .no-box:focus ~ .no-box__content {
    outline: .5rem auto -webkit-focus-ring-color;
  }

  .no-box:checked ~ .no-box__content {
    color: green;

    &::after {
      content: '(checked)';
    }
  }
}

// TABLE
// Update frontmatter sandboxData styleTag in components/table if changing this.

.advanced-table {
  &__header {
    background-color: $cdr-color-background-table-header;
  }
}

// CARD
// Update frontmatter sandboxData styleTag in components/grid if changing this.

.custom-card-example {
  border: 1px solid $cdr-color-border-primary;
  padding: $cdr-space-inset-one-x;
  .cdr-card__link {
    &:hover {
      color: $cdr-color-text-sale !important;
    }
  }
}

.title-header { @include cdr-text-heading-serif-600;}
