/* ==========================================================================/*
* Token option variables
*
* these are temporary variables, providing
* cedar components mappings to previously available tokens.
* These varables should be removed as tokens are available
*
=============================================================== */

/* ---------------------
* Text
* ------------------- */

/* Redwood */
@mixin redwood-display-40() {
  font-style: normal;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
}

@mixin redwood-display-30() {
  font-style: normal;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

@mixin redwood-display-20() {
  font-style: normal;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}

@mixin redwood-display-10() {
  font-style: normal;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

@mixin redwood-body-40() {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
}

/* Maple */
@mixin maple-utility-20() {
  font-style: normal;
  font-family: Roboto Condensed, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}

/* ---------------------
* Color
* ------------------- */
$instant-winner: #367c3c;
$quick-fixe: #a12024;
$partly-cloudy: #dadada;
$coal-train: #7a7a7a;
$holy-smoke: #999999;
$taken-for-granite: #616161;
$dehydrated-lemon: #c77523;
$ice-age: #ecf2f7;
