/* ==========================================================================/*
* Token option variables
*
* these are temporary variables, providing
* cedar components mappings to previously available tokens.
* These varables should be removed as tokens are available
*
=============================================================== */

// TODO destroy these monsters

/* ---------------------
* Color
* ------------------- */
$instant-winner: #367c3c;
$quick-fixe: #a12024;
$partly-cloudy: #dadada;
$coal-train: #7a7a7a;
$holy-smoke: #999999;
$taken-for-granite: #616161;
$dehydrated-lemon: #c77523;
$ice-age: #ecf2f7;
