@import 'cdr-tokens';
@import 'cdr-doc-tokens';
@import 'examples.scss';

$side-navigation-logo-width: 162px;
$side-navigation-width: 234px;
$side-navigation-width-sm: $side-navigation-logo-width + 24px;

html,
body {
  scroll-behavior: smooth;
  color: $cdr-doc-text-color-primary;
  font-family: $cdr-font-family-sans;
  margin: 0;
  padding: 0;
}

.cdr-doc-page-shell {
  display: flex;
}

.cdr-doc-page-shell__side-navigation {
  flex: 0 0 $side-navigation-width;
  width: $side-navigation-width;
  z-index: 120;
}

.cdr-doc-side-navigation {
  border-right: $cdr-doc-border-separator;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  width: $side-navigation-width;
  background-color: $cdr-doc-background-color-main-body;
}


@media only screen and (max-width: $cdr-breakpoint-sm) {
  .cdr-doc-page-shell__side-navigation {
    flex: 0 0 $side-navigation-width-sm;
    width: $side-navigation-width-sm;
  }

  .cdr-doc-side-navigation {
    width: $side-navigation-width-sm;
  }
}

.cdr-doc-side-navigation__logo-wrap {
  background: $cdr-doc-background-color-main-body;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 147px;
  width: 100%;
}

.cdr-doc-side-navigation__logo {
  max-width: $side-navigation-logo-width;
}

.cdr-doc-page-shell__body {
  background: $cdr-doc-background-color-main-body;
  flex: 1 1 100%;
}

.header-anchor {
  @include cdr-text-heading-sans-500;
  color: 	$cdr-color-text-link-rest;
  text-decoration: none;
}

.cdr-doc-proving-ground {
  box-sizing: border-box;
  padding: $cdr-space-inset-one-x;
  width: 100vw;

  .cdr-doc-page-shell,
  .cdr-doc-page-shell__body,
  .page,
  .content {
    display: block;
    width: 100%;
  }


  .cdr-doc-page-shell__side-navigation {
    display: none;
  }

  .cdr-doc-page-shell__body {
    background: none;
  }
}

// Code Highlighting
div[class^='language-'] {
  background: $cdr-doc-background-color-default;
  border: $cdr-doc-border-separator;
  border-radius: $cdr-doc-border-radius-default;
  color: $cdr-doc-text-color-secondary;
  font-size: 14px;
  line-height: 1.4;
  padding: $cdr-space-inset-one-x;
  overflow: auto;
  position: relative;

  .cdr-doc-code-snippet__actions + & {
    border-radius: 0 0 $cdr-doc-border-radius-default $cdr-doc-border-radius-default;
  }

  pre {
    margin: 0;
    padding-left: $cdr-space-one-x * 3;
    position: relative;
    z-index: 10;
  }

  code {
    display: block;
    font-family: $cdr-doc-font-family-mono;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 1.4;
  }

  & > div {
    position: relative;
  }

  // Prism overrides
  .token {
    &.string,
    &.boolean,
    &.property,
    .tag {
        color: #2574A9;
    }

    &.keyword,
    &.selector,
    .attr-name {
        color: #DB0A5B;
    }

    &.comment {
      color: $cdr-doc-text-color-secondary;
    }

    .attr-value {
        color: $cdr-doc-text-color-primary;
    }

    .punctuation {
        color: $cdr-doc-text-color-primary;
    }
  }

  pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
  }

  pre.line-numbers > code {
    position: relative;
    white-space: inherit;
  }

  .line-numbers-wrapper {
    border-right: $cdr-doc-border-separator;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.4;
    padding-right: $cdr-space-one-x;
    position: absolute;
    text-align: right;
    top: $cdr-space-one-x;
  }

  .highlight-lines {
    left: 0;
    position: absolute;
    top: $cdr-space-one-x;
    width: 100%;

    .highlighted {
      background: rgba(yellow, 0.8); // Final color TBD
    }
  }

  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
  }
}

// Homepage styles
.cdr-doc-homepage-asset-types {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $cdr-space-two-x;
  margin-top: $cdr-space-two-x;
}

/*
Generic Styling, for Desktops/Laptops  this is for markdown table display */

table:not([class*="cdr-table"]) {
  color: pink;
  @include cdr-table-base-mixin;
  @include cdr-table-full-width-mixin;
  @include cdr-table-striped-mixin;
  @include cdr-table-border-mixin;
}


.table-first-col-align-top {
  tr td:first-child {
    vertical-align: top;
    font-weight: bold;
  }
}

.table-vertical-align {
  tbody {
    vertical-align: top;
  }
}

.back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  transition: opacity 200ms;
  padding: 0;
  border: 0;
  cursor: pointer;
  opacity: 0;
  z-index: -1;

  &.back-to-top-btn-show {
    display: block;
    z-index: 999;
    opacity: 1;
  }
}
